.main {
  background-color: rgb(255, 252, 246);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.main p {
  font-size: 45px;
  text-transform: uppercase;
  color: rgb(51, 31, 31);
}
